/* app css stylesheet */
    .bookmark-info{
      font-size: 15px;
      border: 1px solid gainsboro;
      padding: 9px;
      border-radius: 14px;

    }
    .list-group .list-group-item {
      border: 1px solid rgba(128, 128, 128, 0.18);
    }
    #mainContent{
          margin-top: 107px;
    }
    #bookmark-div{
      border-radius: 7px;
      min-height:500px;
    }
