#u17587
{
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
}

#u17587:hover
{
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
}

#u17555
{
	background-color: #FFFFFF;
	position: relative;
}

#accordionu14233wrapper
{
	position: relative;
}

#accordionu14233
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u14235-3
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u14235-3.AccordionPanelTabOpen
{
	background-color: transparent;
}

#u14235-3.AccordionPanelTabOpen p
{
	color: #4F4F4F;
	visibility: inherit;
}

#u14236
{
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #ECF0F1;
	position: relative;
}

#u14237-11
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 17px;
	font-size: 12px;
	color: #BDC3C7;
	position: relative;
}

#u14237-3
{
	padding-top: 3px;
}

#u14237-5
{
	padding-top: 3px;
}

#u14237-9
{
	padding-top: 3px;
}

#u14237,#u14237-6
{
	text-decoration: none;
	color: #BDC3C7;
}

#u14237-7
{
	text-decoration: none;
	color: #BDC3C7;
	font-weight: bold;
}

.AccordionPanelTab /* accordion */
{
	cursor: pointer;
}

#u17547
{
	background-color: #FFFFFF;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
}

#u17547:hover
{
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
}

#u17613-2
{
	padding-left: 12px;
	padding-top: 7px;
}

#u17611
{
	background-color: #FFFFFF;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
}

#u17611:hover
{
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
}

#u17587:active,#u17547.MuseLinkActive,#u17611.MuseLinkActive
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u17613-4,#u17624-4
{
	border-width: 1px;
	border-style: solid;
	border-color: #D2D3D9;
	background-color: transparent;
	border-radius: 5px;
	line-height: 14px;
	font-size: 12px;
	color: #7F7F7F;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
}

#u17624-2
{
	padding-left: 12px;
	padding-top: 7px;
}

#u17605,#u14238,#u14231,#u14234,#u17630,#u17639
{
	background-color: transparent;
	position: relative;
}

