    
    <div class="col-lg-12">
        <div class="row">
        	<div class="col-md-8">
        		<div class="jumbotron" style="min-height:500px;">
        			<div class="row">
        				<div class="col-md-6">
        					<div class="form-group" style="margin-top: 18px;padding: 23px;">
					          <input type="text" class="form-control col-md-8" ng-model="searchText" placeholder="Search here for word definition">
					        </div>
        				</div>
        				<div class="col-md-6" style="margin-top: 22px;">
        					<div class="row">
        						<div class="col-md-6"><button ng-disabled="!searchText" class="btn btn-raised btn-info" ng-click="searchWord()" data-toggle="tooltip" data-placement="bottom" title="click to see" tooltip>Search</button></div>
        						<div class="col-md-6">
                                <button ng-disabled="!searchText" class="btn btn-raised btn-xs" ng-click="clearBox()" data-toggle="tooltip" data-placement="bottom" title="clear searhbox" tooltip><i class="material-icons">clear_all</i></button>
                                <button ng-disabled="!searchText" class="btn btn-raised btn-xs" ng-click="bookmarkSave()" data-toggle="tooltip" data-placement="bottom" title="bookmark me" tooltip><i class="material-icons">bookmark</i></button></div>

        					</div>
        				</div>
        			</div>
        			<div class="list-group" ng-repeat="detail in details">
        			<blockquote>
  						<p>{{ detail.definition}}</p>
					</blockquote>
					</div>
                    <div ng-show="!result" style="text-align: center;">No Result Found for <b>{{searchText}}</b></div>
				</div>
        	</div>
        	<div class="col-md-4">
        		<div class="jumbotron" id="bookmark-div">
        			<p style="text-align: center;">Bookmarks ({{bookmarkLength || 0}})</p>
        			<hr/>
        			<div ng-repeat="detail in bookmarkList.words track by $index">
        			<p class="bookmark-info">{{detail}}<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="delete($index)" style="margin-top: 4px;">X</button></p>
					</div>
				</div>
        	</div>
        </div>
    </div>